/* Base  */
@font-face {
  font-family: "Gotham-Medium";
  src: url("../fonts/Gotham-Medium.eot?") format("eot"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.eot?") format("eot"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.eot?") format("eot"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
}
@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham Black Regular.eot?") format("eot"), url("../fonts/Gotham Black Regular.woff2") format("woff2"), url("../fonts/Gotham Black Regular.woff") format("woff"), url("../fonts/Gotham Black Regular.ttf") format("truetype"), url("../fonts/Gotham Black Regular.svg#Gotham-Black") format("svg");
}
/*$fuente1: 'Anton';
$fuente2: 'Bevan';*/
/******************** variables ********************/
/*$breakpoints: (
  movil  		: 480px,
  movil-h 	: 640px,
  tablet 		: 769px,
  tablet-h  : 1025px,
  tablet-w  : 1344px,
  laptop  	: 1367px
);*/
/*.color($color: 'null'){

	.color_atributos1 ($color) when (iscolor($color)) {
			 color: $color;
		}

		.color_atributos1($color);
}*/
/*@mixin fondo-degrade($direccion: left,$inicio: #ffffff,$fin: #000000) {
		background-color: $inicio;
		background-image: -webkit-linear-gradient($direccion, $inicio, $fin);
		background-image: -moz-linear-gradient($direccion, $inicio, $fin);
		background-image: -o-linear-gradient($direccion, $inicio, $fin);
		background-image: -ms-linear-gradient($direccion, $inicio, $fin);
		background-image: linear-gradient($direccion, $inicio, $fin);
}*/
/*

.sample {
		font-size: 30rem;

		@include breakpoint(medium) {
				font-size: 22rem;
		}
}


.element {
		font-size: 30rem;
}

@media (min-width: 992px) {
		.element {
				font-size: 22rem;
		}
}

*/
html {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

dl,
dd,
dt {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

table,
td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

img {
  border: 0 none;
}

a,
a:hover {
  outline: medium none;
  text-decoration: none;
}

br {
  clear: both;
}

form,
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*body > .layout,  body > .u-menufix{
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  dl, dd, dt {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  table, td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
  }
  img {
    border: 0 none;
  }
  a, a:hover {
    outline: medium none;
    text-decoration: none;
  }
  br {
    clear: both;
  }
  form, fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
  }
  footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
  }

  *,
  *:after,
  *:before {
    @include caja-modelo(border-box);
  }
}*/
/* Flexbox */
/*@mixin flex {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction:$direction;
  -moz-flex-direction:$direction;
  -ms-flex-direction:$direction;
  flex-direction:$direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap:$wrap;
  -moz-flex-wrap:$wrap;
  -ms-flex-wrap:$wrap;
  flex-wrap:$wrap;
}

@mixin flex-align-items($align) {
  -webkit-flex-align:$align;
  -moz-flex-align:$align;
  -ms-flex-align:$align;
  -webkit-align-items:$align;
  -webkit-box-align:$align;
  align-items:$align;
}

@mixin flex-justify-content($justify) {
  -webkit-justify-content:$justify;
  -moz-justify-content:$justify;
  -ms-justify-content:$justify;
  justify-content:$justify;
}

@mixin flex-grow($grow) {
  -webkit-flex-grow:$grow;
  -moz-flex-grow:$grow;
  -ms-flex-grow:$grow;
  flex-grow:$grow;
}

@mixin flex-order($order) {
  -webkit-box-ordinal-group:$order;
  -moz-box-ordinal-group:$order;
  -ms-flex-order:$order;
  -webkit-order:$order;
  order:$order;
}

@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}*/
@-webkit-keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.a-fade {
  -webkit-animation: no-transform 0.5s both;
          animation: no-transform 0.5s both;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 0;
}

.a-pop-up {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-6rem) scale(0.8);
  transform: translateY(-6rem) scale(0.8);
}

.a-pop-down {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(6rem) scale(0.8);
  transform: translateY(6rem) scale(0.8);
}

.a-pop-right {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateX(6rem) scale(0.8);
  transform: translateX(6rem) scale(0.8);
}

.a-pop-left {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateX(-6rem) scale(0.8);
  transform: translateX(-6rem) scale(0.8);
}

.a-up {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-6rem);
  transform: translateY(-6rem);
}

.a-down {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(6rem);
  transform: translateY(6rem);
}

.a-left {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateX(-6rem);
  transform: translateX(-6rem);
}

.a-right {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateX(6rem);
  transform: translateX(6rem);
}

.portlet[data-portlet=zuma] {
  background-color: #005919;
}
.portlet[data-portlet=zuma] html {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.portlet[data-portlet=zuma] body {
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] p,
.portlet[data-portlet=zuma] h1,
.portlet[data-portlet=zuma] h2,
.portlet[data-portlet=zuma] h3,
.portlet[data-portlet=zuma] h4,
.portlet[data-portlet=zuma] h5,
.portlet[data-portlet=zuma] h6 {
  margin: 0;
}
.portlet[data-portlet=zuma] ul,
.portlet[data-portlet=zuma] li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] dl,
.portlet[data-portlet=zuma] dd,
.portlet[data-portlet=zuma] dt {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] table,
.portlet[data-portlet=zuma] td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] img {
  border: 0 none;
}
.portlet[data-portlet=zuma] a,
.portlet[data-portlet=zuma] a:hover {
  outline: medium none;
  text-decoration: none;
}
.portlet[data-portlet=zuma] br {
  clear: both;
}
.portlet[data-portlet=zuma] form,
.portlet[data-portlet=zuma] fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] footer,
.portlet[data-portlet=zuma] header,
.portlet[data-portlet=zuma] hgroup,
.portlet[data-portlet=zuma] menu,
.portlet[data-portlet=zuma] nav,
.portlet[data-portlet=zuma] output,
.portlet[data-portlet=zuma] ruby,
.portlet[data-portlet=zuma] section,
.portlet[data-portlet=zuma] summary,
.portlet[data-portlet=zuma] time,
.portlet[data-portlet=zuma] mark,
.portlet[data-portlet=zuma] audio,
.portlet[data-portlet=zuma] video {
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] *,
.portlet[data-portlet=zuma] *:after,
.portlet[data-portlet=zuma] *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] {
  width: 100%;
  height: 110vh;
  min-height: 1100px;
  overflow: hidden;
  background: #006B1D;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section1[data-section] {
    min-height: 900px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] {
    height: 110vh;
    min-height: 800px;
  }
}
.portlet[data-portlet=zuma] .section1[data-section]:before {
  width: 394px;
  height: 100%;
  max-height: 1170px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  z-index: 3;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/assets/variants/resource1__left.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  -webkit-animation: bounceInLeft 0.5s ease-in;
          animation: bounceInLeft 0.5s ease-in;
}
@media screen and (max-width: 1689px) {
  .portlet[data-portlet=zuma] .section1[data-section]:before {
    width: 340px;
  }
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section1[data-section]:before {
    width: 110px;
    height: 621px;
    background-size: contain;
    background-image: url("/assets/variants/resource1__left-M.png");
  }
}
.portlet[data-portlet=zuma] .section1[data-section]:after {
  width: 400px;
  height: 100%;
  max-height: 1170px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  z-index: 3;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/assets/variants/resource1__right.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  -webkit-animation: bounceInRight 0.5s ease-in;
          animation: bounceInRight 0.5s ease-in;
}
@media screen and (max-width: 1689px) {
  .portlet[data-portlet=zuma] .section1[data-section]:after {
    width: 340px;
  }
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section1[data-section]:after {
    width: 110px;
    height: 621px;
    background-size: contain;
    background-image: url("/assets/variants/resource1__right-M.png");
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main {
  width: 100%;
  height: inherit;
  background-color: #fff;
  position: relative;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 38%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url("/assets/background/sections/background1__bottom.png");
  background-position: top center;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main::after {
    height: 33%;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main__logo {
  position: absolute;
  top: 13%;
  left: 0;
  right: 0;
  z-index: 4;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main__logo {
    display: none;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 24%;
  z-index: 3;
  margin: 0 auto;
  text-align: center;
  max-width: 663px;
  font: normal 500 44px "Gotham-Black";
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main h1 {
    font-size: 34px;
    line-height: 40px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main h1 {
    font-size: 23px;
    line-height: 29px;
    max-width: 300px;
    text-transform: initial;
    top: 17%;
    z-index: 5;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main .brands {
  position: absolute;
  bottom: 5%;
  z-index: 10;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 755.004px;
  height: 86.001px;
}
@media screen and (max-width: 1689px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main .brands {
    bottom: 6%;
  }
}
@media screen and (max-width: 768px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main .brands {
    width: 276.895px;
    height: 36px;
    bottom: 8%;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main .brands img {
  width: inherit;
  height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@-webkit-keyframes bobble {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bobble {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__left, .portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__right {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: grayscale(3px);
          filter: grayscale(3px);
  border-radius: 100%;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__left:hover, .portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__right:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: grayscale(0px);
          filter: grayscale(0px);
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__left, .portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__right {
    opacity: 1;
    -webkit-filter: grayscale(0px);
            filter: grayscale(0px);
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__left {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 50px;
  top: 47%;
  background-image: url("/assets/variants/arrow__left.png");
  background-position: center;
  background-size: contain;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transform: translateX(-330px);
          transform: translateX(-330px);
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__left {
    -webkit-transform: translateX(-105px);
            transform: translateX(-105px);
    width: 45px;
    height: 45px;
    top: 40%;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__right {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 50px;
  top: 47%;
  background-image: url("/assets/variants/arrow__right.png");
  background-position: center;
  background-size: contain;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__right {
    -webkit-transform: translateX(105px);
            transform: translateX(105px);
    width: 45px;
    height: 45px;
    top: 40%;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__down {
  position: absolute;
  z-index: 5;
  bottom: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 64px;
  height: 62px;
  border-radius: 8.548px;
  background: #006B1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: bobble 3s infinite;
          animation: bobble 3s infinite;
  box-shadow: -1px 0px 52px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -1px 0px 52px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 0px 52px 5px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__main .arrow__down {
    width: 51px;
    height: 49.406px;
    bottom: 27%;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider {
  width: 100%;
  height: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item {
  width: 100vw;
  height: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 7.5%;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item.v1 {
  background-image: url("/assets/background/slides/fondo1.jpg");
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item.v2 {
  background-image: url("/assets/background/slides/fondo2.jpg");
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item.v3 {
  background-image: url("/assets/background/slides/fondo3.jpg");
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item.v4 {
  background-image: url("/assets/background/slides/fondo4.jpg");
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item.v5 {
  background-image: url("/assets/background/slides/fondo5.jpg");
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item.v6 {
  background-image: url("/assets/background/slides/fondo6.jpg");
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__img {
  height: 350px;
  -webkit-transform: rotate(15.284deg);
          transform: rotate(15.284deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__img {
    max-height: 38vh;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__img {
    height: 270px;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content {
  position: relative;
  z-index: 100;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content h2 {
  font: normal 500 40px "Gotham-Black";
  color: #fff;
  line-height: 60px;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content h2 {
    font-size: 22px;
    line-height: 33px;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p span {
  font: normal 700 20px "Gotham-Book";
  line-height: 25px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p span {
    font-size: 10.622px;
    line-height: 13px;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p span.c {
  font-size: 30px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p span.c {
    font-size: 15.933px;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p.v1 {
  color: #FAAEFF;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p.v2 {
  color: #FEFFC0;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p.v3 {
  color: #E0FFD8;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p.v4 {
  color: #E0FFD8;
  color: #FFD1FD;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p.v5 {
  color: #F7FFD8;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content p.v6 {
  color: #F7FFC6;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content .toScrollStores {
  width: 188px;
  border: none;
  border: 1px solid #fff;
  height: 56px;
  margin-top: 32px;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: grayscale(8px);
          filter: grayscale(8px);
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content .toScrollStores:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-filter: grayscale(0px);
          filter: grayscale(0px);
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content .toScrollStores:hover {
    -webkit-transform: none;
            transform: none;
  }
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content .toScrollStores span {
  color: #fff;
  font: normal 500 16px "Gotham-Book";
  line-height: 40.741px;
}
.portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content .toScrollStores img {
  width: 16px;
  height: 18px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section1[data-section] .section1__slider__item__main__content .toScrollStores {
    display: none;
  }
}
.portlet[data-portlet=zuma] .section2[data-section] {
  width: 100%;
  height: 520px;
  overflow: hidden;
  background: #006B1D;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section2[data-section] {
    height: 400px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section2[data-section] {
    height: 300px;
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main {
  width: 100%;
  text-align: center;
  min-height: 300px;
  padding: 30px 0;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main {
    padding: 0;
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main hgroup h2 {
  font: normal 400 44px "Gotham-Black";
  line-height: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main hgroup h2 {
    font-size: 20px;
    line-height: 50px;
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
  gap: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1366px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__list {
    gap: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__list {
    gap: 40px;
    margin-top: 0;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__list {
    gap: 35px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5px;
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 140vw;
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item {
    width: 20vw;
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main__item img {
  height: auto;
  max-width: 63px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item img {
    max-width: 40px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item img {
    max-width: 25px;
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main__item span {
  font: normal 400 14px "Gotham-Black";
  line-height: 19px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item span {
    font-size: 6px;
    line-height: 14px;
    max-width: 54px;
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item span br {
    display: none;
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(4) {
  -webkit-transform: scale(1.6) translateY(-10px);
          transform: scale(1.6) translateY(-10px);
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(4) {
    -webkit-transform: scale(1.4) translateY(10px);
            transform: scale(1.4) translateY(10px);
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(1), .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(7) {
  -webkit-transform: translateY(220px);
          transform: translateY(220px);
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(1), .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(7) {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(2), .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(6) {
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(2), .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(6) {
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
}
.portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(3), .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(5) {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(3), .portlet[data-portlet=zuma] .section2[data-section] .section2__main__item:nth-child(5) {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}
.portlet[data-portlet=zuma] .section3[data-section] {
  padding-bottom: 80px;
  padding-top: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
  background: #006B1D;
}
.portlet[data-portlet=zuma] .section3[data-section]:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -10%;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url("/assets/background/sections/background3.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section]:after {
    top: -3%;
  }
}
.portlet[data-portlet=zuma] .section3[data-section]::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  width: 100%;
  background-color: #005919;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section]::before {
    height: 70%;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] {
    padding-bottom: 30px;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main {
  width: 100%;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main:before {
  position: absolute;
  content: "";
  width: 418px;
  height: 100%;
  top: 6%;
  left: 0;
  z-index: 1;
  background-image: url("/assets/variants/resource3__left.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
@media screen and (max-width: 1689px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main:before {
    height: 90%;
    width: 380px;
    top: 10%;
  }
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main:before {
    width: 250px;
    top: auto;
    bottom: 1%;
    height: 600px;
    left: -100px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main:before {
    background-image: url("/assets/variants/resource3__left-M.png");
    width: 120px;
    height: 506px;
    top: auto;
    left: 0;
    bottom: 2%;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main:after {
  position: absolute;
  content: "";
  width: 455px;
  height: 100%;
  top: 4%;
  right: 0;
  z-index: 1;
  background-image: url("/assets/variants/resource3__right.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
@media screen and (max-width: 1689px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main:after {
    height: 90%;
    width: 380px;
    top: 10%;
  }
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main:after {
    width: 250px;
    top: auto;
    bottom: 1%;
    right: -100px;
    height: 600px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main:after {
    background-image: url("/assets/variants/resource3__right-M.png");
    width: 98px;
    height: 538px;
    top: auto;
    right: 0;
    bottom: 3%;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main hgroup h2 {
  font: normal 400 44px "Gotham-Black";
  line-height: 50px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main hgroup h2 {
    font-size: 20px;
    line-height: 50px;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main hgroup p {
  font: normal 400 16px "Gotham-Book";
  line-height: 26px;
  color: #fff;
  max-width: 994px;
  text-align: left;
  margin: 49px auto 0;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main hgroup p {
    max-width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main hgroup p {
    font-size: 14px;
    line-height: 22px;
    max-width: 306px;
    width: 90%;
    margin-top: 10px;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main__video {
  width: 1191px;
  height: 670px;
  margin: 64px auto 0;
  max-width: 90%;
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main__video {
    height: auto;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main__video {
    border-radius: 20px;
    margin-top: 30px;
    width: 285px;
    max-height: 433px;
    width: auto;
    max-width: 285px;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main__video video.desktop {
  display: block;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main__video video.desktop {
    display: none;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main__video video.mobile {
  display: none;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main__video video.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main__resources {
  width: 660.759px;
  height: 66.471px;
  margin: 64px auto 0;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section3[data-section] .section3__main__resources {
    width: 310.613px;
    height: 36.034px;
    max-width: 90%;
    margin-top: 30px;
  }
}
.portlet[data-portlet=zuma] .section3[data-section] .section3__main__resources img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.portlet[data-portlet=zuma] .section4[data-section] {
  height: 466px;
  width: 100%;
  background-image: url("/assets/background/sections/background4.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section4[data-section] {
    background-image: url("/assets/background/sections/background4-M.png");
    height: 195px;
  }
}
.portlet[data-portlet=zuma] .section4[data-section] .section4__main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 48px 0;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section4[data-section] .section4__main {
    padding-bottom: 0;
  }
}
.portlet[data-portlet=zuma] .section4[data-section] .section4__main hgroup {
  position: relative;
  z-index: 4;
  max-width: 797px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section4[data-section] .section4__main hgroup {
    max-width: 320px;
    margin-bottom: -14px;
  }
}
.portlet[data-portlet=zuma] .section4[data-section] .section4__main hgroup h2 {
  color: #fff;
  text-align: center;
  font: normal 500 44px "Gotham-Black";
  line-height: 62px;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section4[data-section] .section4__main hgroup h2 {
    font-size: 34px;
    line-height: 42px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section4[data-section] .section4__main hgroup h2 {
    font-size: 20px;
    line-height: 29px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
  background-color: #006B1E;
}
.portlet[data-portlet=zuma] .section5[data-section]:after {
  width: 100%;
  height: 329.397px;
  max-height: 90%;
  position: absolute;
  z-index: 1;
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  background-color: #006B1E;
  background-image: url("/assets/background/sections/background5.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section]:after {
    background-image: url("/assets/background/sections/background5-M.png");
    background-position: center;
    width: 100%;
    height: 210px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main {
  width: 100%;
  height: 100%;
  padding: 40px 0 259px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main {
    padding-bottom: 151px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 109px;
}
@media screen and (max-width: 1199px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores {
    gap: 50px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores {
    gap: 10px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item {
  width: 127px;
  height: 127px;
  border-radius: 100%;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item {
    width: 56px;
    margin: 0 20px;
    height: 56px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item.c {
  width: 142px;
  height: 142px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item.c {
    width: 65px;
    height: 65px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item.b {
  background-color: #fff;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item img {
  height: inherit;
  width: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 110px;
  gap: 40px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__social {
    margin-top: 57px;
    gap: 34px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__social hgroup {
    max-width: 300px;
    margin: 0 auto;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__social hgroup p {
  font: normal 500 20px "Gotham-Medium";
  color: #fff;
  text-align: center;
  line-height: 25px;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icons {
    gap: 41px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon {
  width: 68px;
  height: 68px;
  border: 1px solid #fff;
  border-radius: 100%;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: grayscale(8px);
          filter: grayscale(8px);
  cursor: pointer;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-filter: grayscale(0px);
          filter: grayscale(0px);
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon:hover {
    -webkit-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon {
    width: 49px;
    height: 49px;
    -webkit-filter: grayscale(0px);
            filter: grayscale(0px);
    opacity: 1;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon:nth-child(1) img {
  width: 36.615px;
  height: 36.615px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon:nth-child(1) img {
    width: 26.385px;
    height: 26.385px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon:nth-child(2) img {
  width: 40.779px;
  height: 40.779px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon:nth-child(2) img {
    width: 29.385px;
    height: 29.385px;
  }
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon:nth-child(3) img {
  width: 28.161px;
  height: 28.161px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section5[data-section] .section5__main__social__icon:nth-child(3) img {
    width: 20.293px;
    height: 20.293px;
  }
}
.portlet[data-portlet=zuma] .section6[data-section] {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #004513;
  position: relative;
  z-index: 2;
}
.portlet[data-portlet=zuma] .section6[data-section] .section6__main {
  width: 90%;
  margin: 0 auto;
  max-width: 1110px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section6[data-section] .section6__main {
    max-width: 85%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.portlet[data-portlet=zuma] .section6[data-section] .section6__main__copy {
  color: rgba(255, 255, 255, 0.5);
  font: normal 400 14px "Gotham-Medium";
  line-height: 28.929px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section6[data-section] .section6__main__copy {
    font-size: 8px;
    line-height: 17.109px;
  }
}
.portlet[data-portlet=zuma] .section6[data-section] .section6__main__made {
  position: relative;
  color: #fff;
  font: normal 400 14px "Gotham-Medium";
  line-height: 14px;
  padding-right: 80px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section6[data-section] .section6__main__made {
    font-size: 8px;
    line-height: 17.109px;
    padding-right: 45px;
  }
}
.portlet[data-portlet=zuma] .section6[data-section] .section6__main__made::before {
  position: absolute;
  content: "";
  width: 8.839px;
  height: 8.447px;
  right: 62px;
  margin: auto 0;
  top: 3px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="10" viewBox="0 0 9 10" fill="none"><g clip-path="url(%23clip0_268_2779)"><path d="M4.42029 8.21575C4.3094 8.21561 4.20112 8.1836 4.10953 8.12386C2.75272 7.24374 2.16521 6.64027 1.84116 6.26299C1.15058 5.45875 0.81997 4.63307 0.829293 3.73893C0.84017 2.71429 1.70045 1.88086 2.74702 1.88086C3.50804 1.88086 4.03512 2.29048 4.34208 2.63164C4.3518 2.64234 4.36382 2.65092 4.37731 2.6568C4.3908 2.66268 4.40546 2.66572 4.42029 2.66572C4.43512 2.66572 4.44977 2.66268 4.46327 2.6568C4.47676 2.65092 4.48877 2.64234 4.4985 2.63164C4.80546 2.29015 5.33254 1.88086 6.09355 1.88086C7.14012 1.88086 8.00041 2.71429 8.01128 3.73909C8.0206 4.6334 7.68965 5.45908 6.99942 6.26315C6.67536 6.64044 6.08786 7.2439 4.73105 8.12402C4.63944 8.1837 4.53116 8.21566 4.42029 8.21575Z" fill="white"/></g><defs><clipPath id="clip0_268_2779"><rect width="8.83937" height="8.44652" fill="white" transform="translate(0 0.824219)"/></clipPath></defs></svg>') center no-repeat;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section6[data-section] .section6__main__made::before {
    width: 5.228px;
    height: 4.995px;
    background-size: contain;
    top: 5px;
    right: 35px;
  }
}
.portlet[data-portlet=zuma] .section6[data-section] .section6__main__made::after {
  position: absolute;
  content: "";
  width: 50.654px;
  height: 11.475px;
  right: 0;
  margin: auto 0;
  top: 2px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="51" height="12" viewBox="0 0 51 12" fill="none"><path d="M7.8237 5.86887H7.74387L5.33555 0.277383C5.26902 0.102193 5.10936 0 4.93638 0H0.439084C0.199583 0 0 0.218988 0 0.481773V10.9786C0 11.2414 0.199583 11.4604 0.439084 11.4604H3.67235C3.91185 11.4604 4.11144 11.2414 4.11144 10.9786V5.54769H4.19127L6.77256 11.1976C6.8524 11.3582 6.99876 11.4604 7.15842 11.4604H11.4961C11.7356 11.4604 11.9351 11.2414 11.9351 10.9786V0.481773C11.9351 0.218988 11.7356 0 11.4961 0H8.26279C8.02329 0 7.8237 0.218988 7.8237 0.481773V5.86887Z" fill="white"/><path d="M17.7357 6.43926H23.5103C23.6567 6.43926 23.7631 6.30787 23.7631 6.16188V5.31512C23.7631 5.15453 23.6434 5.03774 23.5103 5.03774H17.7357V3.41723H23.7764C24.0159 3.41723 24.2155 3.19825 24.2155 2.93546V0.497396C24.2155 0.234611 24.0159 0.015625 23.7764 0.015625H13.7174C13.4779 0.015625 13.2783 0.234611 13.2783 0.497396V11.0088C13.2783 11.2716 13.4779 11.476 13.7041 11.476H23.8297C24.0692 11.476 24.2688 11.257 24.2688 10.9942V8.70213C24.2688 8.43935 24.0692 8.22036 23.8297 8.22036H17.7224V6.43926H17.7357Z" fill="white"/><path d="M37.5758 4.54034C37.5758 0.55477 35.5001 0 32.7458 0H26.0797C25.8402 0 25.6406 0.218988 25.6406 0.481773V10.9786C25.6406 11.2414 25.8402 11.4604 26.0797 11.4604H29.6589C29.8984 11.4604 30.098 11.2414 30.098 10.9786V8.94929H30.8564C31.0959 10.2048 32.014 11.183 33.1849 11.402C33.318 11.4312 33.4643 11.4604 33.624 11.4604H37.15C37.3895 11.4604 37.5891 11.2414 37.5891 10.9786V8.94929C37.5891 8.68651 37.3895 8.46752 37.15 8.46752H35.713C36.9105 7.92735 37.5758 6.80322 37.5758 4.54034ZM30.0847 3.37241H32.0939C32.5862 3.37241 32.9986 3.79578 33.0386 4.33595C33.1317 5.59148 32.7724 6.01486 31.7878 6.04406H30.0847V3.37241Z" fill="white"/><path d="M50.6549 5.66448C50.6549 1.50372 48.8187 0 45.2661 0H39.3717C39.1322 0 38.9326 0.218988 38.9326 0.481773V10.9202C38.9326 11.2268 39.1588 11.4604 39.4249 11.4604H45.2661C48.832 11.4604 50.6549 9.95664 50.6549 5.79587C50.6549 5.76667 50.6549 5.75208 50.6549 5.73748C50.6549 5.70828 50.6549 5.69368 50.6549 5.66448ZM44.5077 7.94195H43.3102V6.65722V3.5184H44.5077C45.8382 3.5184 46.1842 4.32135 46.1975 5.72288C46.1842 7.15359 45.8382 7.94195 44.5077 7.94195Z" fill="white"/></svg>') center no-repeat;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section6[data-section] .section6__main__made::after {
    width: 29.958px;
    height: 6.786px;
    background-size: contain;
    top: 4px;
  }
}