@charset "UTF-8";
/* Base  */
@import url(https://fonts.googleapis.com/css?family=Anton|Bevan|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);
@font-face {
  font-family: "AMX-Black";
  src: url("../fonts/AMX-Black.eot?") format("eot"), url("../fonts/AMX-Black.woff2") format("woff2"), url("../fonts/AMX-Black.woff") format("woff"), url("../fonts/AMX-Black.ttf") format("truetype"), url("../fonts/AMX-Black.svg#AMX-Black") format("svg");
}
@font-face {
  font-family: "AMX";
  src: url("../fonts/AMXClaro-Brands.eot?") format("eot"), url("../fonts/AMXClaro-Brands.woff2") format("woff2"), url("../fonts/AMXClaro-Brands.woff") format("woff"), url("../fonts/AMXClaro-Brands.ttf") format("truetype"), url("../fonts/AMXClaro-Brands.svg#AMX") format("svg");
}
@font-face {
  font-family: "AMX-Regular";
  src: url("../fonts/AMX-Regular.eot?") format("eot"), url("../fonts/AMX-Regular.woff2") format("woff2"), url("../fonts/AMX-Regular.woff") format("woff"), url("../fonts/AMX-Regular.ttf") format("truetype"), url("../fonts/AMX-Regular.svg#AMX-Regular") format("svg");
}
@font-face {
  font-family: "AMX-Medium";
  src: url("../fonts/AMX-Medium.eot?") format("eot"), url("../fonts/AMX-Medium.woff2") format("woff2"), url("../fonts/AMX-Medium.woff") format("woff"), url("../fonts/AMX-Medium.ttf") format("truetype"), url("../fonts/AMX-Medium.svg#AMX-Medium") format("svg");
}
@font-face {
  font-family: "AMX-Bold";
  src: url("../fonts/AMX-Bold.eot?") format("eot"), url("../fonts/AMX-Bold.woff2") format("woff2"), url("../fonts/AMX-Bold.woff") format("woff"), url("../fonts/AMX-Bold.ttf") format("truetype"), url("../fonts/AMX-Bold.svg#AMX-Bold") format("svg");
}
/*$fuente1: 'Anton';
$fuente2: 'Bevan';*/
/*$font1: 'Arial';
$font2: 'Arial';*/
/******************** variables ********************/
/*$breakpoints: (
  movil  		: 480px,
  movil-h 	: 640px,
  tablet 		: 769px,
  tablet-h  : 1025px,
  tablet-w  : 1344px,
  laptop  	: 1367px
);*/
/*$path: "https://static.claro.com.pe/landings/havas/2022/dco/v2/assets";
$path-netflix: "https://static.claro.com.pe/landings/havas/2022/dco/v2/assets/banners/netflix";
$path-fibraoptica: "https://static.claro.com.pe/landings/havas/2022/dco/v2/assets/banners/fibraoptica";*/
/*.color($color: 'null'){

	.color_atributos1 ($color) when (iscolor($color)) {
			 color: $color;
		}

		.color_atributos1($color);
}*/
/*@mixin fondo-degrade($direccion: left,$inicio: #ffffff,$fin: #000000) {
		background-color: $inicio;
		background-image: -webkit-linear-gradient($direccion, $inicio, $fin);
		background-image: -moz-linear-gradient($direccion, $inicio, $fin);
		background-image: -o-linear-gradient($direccion, $inicio, $fin);
		background-image: -ms-linear-gradient($direccion, $inicio, $fin);
		background-image: linear-gradient($direccion, $inicio, $fin);
}*/
/*

.sample {
		font-size: 30rem;

		@include breakpoint(medium) {
				font-size: 22rem;
		}
}


.element {
		font-size: 30rem;
}

@media (min-width: 992px) {
		.element {
				font-size: 22rem;
		}
}

*/
html {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

dl,
dd,
dt {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

table,
td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

img {
  border: 0 none;
}

a,
a:hover {
  outline: medium none;
  text-decoration: none;
}

br {
  clear: both;
}

form,
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*body > .layout,  body > .u-menufix{
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  dl, dd, dt {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  table, td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
  }
  img {
    border: 0 none;
  }
  a, a:hover {
    outline: medium none;
    text-decoration: none;
  }
  br {
    clear: both;
  }
  form, fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
  }
  footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
  }

  *,
  *:after,
  *:before {
    @include caja-modelo(border-box);
  }
}*/
.icon::before {
  display: inline-block;
  margin-right: 0.5em;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.globo {
  padding: 10px;
  width: 220px;
  border­radius: 10px;
  background­color: #8f0;
  font­family: "trebuchet ms", tahoma, verdana, sans­serif;
  font­size: 1.4em;
}
.globo:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border­bottom: 30px solid #8f0;
  border­right: 20px solid transparent;
  border­left: 20px solid transparent;
  margin: ­30px 0 0 90px;
}

/* Flexbox */
/*@mixin flex {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction:$direction;
  -moz-flex-direction:$direction;
  -ms-flex-direction:$direction;
  flex-direction:$direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap:$wrap;
  -moz-flex-wrap:$wrap;
  -ms-flex-wrap:$wrap;
  flex-wrap:$wrap;
}

@mixin flex-align-items($align) {
  -webkit-flex-align:$align;
  -moz-flex-align:$align;
  -ms-flex-align:$align;
  -webkit-align-items:$align;
  -webkit-box-align:$align;
  align-items:$align;
}

@mixin flex-justify-content($justify) {
  -webkit-justify-content:$justify;
  -moz-justify-content:$justify;
  -ms-justify-content:$justify;
  justify-content:$justify;
}

@mixin flex-grow($grow) {
  -webkit-flex-grow:$grow;
  -moz-flex-grow:$grow;
  -ms-flex-grow:$grow;
  flex-grow:$grow;
}

@mixin flex-order($order) {
  -webkit-box-ordinal-group:$order;
  -moz-box-ordinal-group:$order;
  -ms-flex-order:$order;
  -webkit-order:$order;
  order:$order;
}

@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}*/
@-webkit-keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.a-fade {
  -webkit-animation: no-transform 0.5s both;
          animation: no-transform 0.5s both;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 0;
}

.a-pop-up {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-6rem) scale(0.8);
  transform: translateY(-6rem) scale(0.8);
}

.a-pop-down {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(6rem) scale(0.8);
  transform: translateY(6rem) scale(0.8);
}

.a-pop-right {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateX(6rem) scale(0.8);
  transform: translateX(6rem) scale(0.8);
}

.a-pop-left {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateX(-6rem) scale(0.8);
  transform: translateX(-6rem) scale(0.8);
}

.a-up {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-6rem);
  transform: translateY(-6rem);
}

.a-down {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(6rem);
  transform: translateY(6rem);
}

.a-left {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateX(-6rem);
  transform: translateX(-6rem);
}

.a-right {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateX(6rem);
  transform: translateX(6rem);
}

.portlet[data-portlet=zuma] {
  background: #006B1E;
}
.portlet[data-portlet=zuma] html {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.portlet[data-portlet=zuma] body {
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] p,
.portlet[data-portlet=zuma] h1,
.portlet[data-portlet=zuma] h2,
.portlet[data-portlet=zuma] h3,
.portlet[data-portlet=zuma] h4,
.portlet[data-portlet=zuma] h5,
.portlet[data-portlet=zuma] h6 {
  margin: 0;
}
.portlet[data-portlet=zuma] ul,
.portlet[data-portlet=zuma] li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] dl,
.portlet[data-portlet=zuma] dd,
.portlet[data-portlet=zuma] dt {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] table,
.portlet[data-portlet=zuma] td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] img {
  border: 0 none;
}
.portlet[data-portlet=zuma] a,
.portlet[data-portlet=zuma] a:hover {
  outline: medium none;
  text-decoration: none;
}
.portlet[data-portlet=zuma] br {
  clear: both;
}
.portlet[data-portlet=zuma] form,
.portlet[data-portlet=zuma] fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] footer,
.portlet[data-portlet=zuma] header,
.portlet[data-portlet=zuma] hgroup,
.portlet[data-portlet=zuma] menu,
.portlet[data-portlet=zuma] nav,
.portlet[data-portlet=zuma] output,
.portlet[data-portlet=zuma] ruby,
.portlet[data-portlet=zuma] section,
.portlet[data-portlet=zuma] summary,
.portlet[data-portlet=zuma] time,
.portlet[data-portlet=zuma] mark,
.portlet[data-portlet=zuma] audio,
.portlet[data-portlet=zuma] video {
  margin: 0;
  padding: 0;
}
.portlet[data-portlet=zuma] *,
.portlet[data-portlet=zuma] *:after,
.portlet[data-portlet=zuma] *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.portlet[data-portlet=zuma] .section[data-section] {
  width: 100%;
  background-image: url("https://www.claro.com.pe/assets/havas/landing-deportes/liga1/assets/general/background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 50px 0 100px;
  position: relative;
}
.portlet[data-portlet=zuma] .section[data-section]:before {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  background-image: url("https://www.claro.com.pe/assets/havas/landing-deportes/liga2/assets/general/ball__small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-animation: rotating 3s linear infinite;
          animation: rotating 3s linear infinite;
  top: 226px;
  left: -50px;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section]:before {
    width: 74.104px;
    height: 74.104px;
    right: 25px;
    top: -40px;
    left: auto;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section]:before {
    width: 48px;
    height: 48px;
    right: 25px;
    top: -10px;
  }
}
.portlet[data-portlet=zuma] .section[data-section]:after {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  background-image: url("https://www.claro.com.pe/assets/havas/landing-deportes/liga2/assets/general/ball__small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-animation: rotating 3s linear infinite;
          animation: rotating 3s linear infinite;
  bottom: 226px;
  right: -80px;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section]:after {
    display: none;
  }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] {
    padding: 50px 0;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__header {
  width: 90%;
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__header {
    max-width: 1252px;
    width: 90%;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__header__icon {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none"><g clip-path="url(%23clip0_2618_55011)"><path d="M6 0.499999L1.472e-06 11.4773L6 22.5L18 22.5L24 11.4773L18 0.5L6 0.499999Z" fill="%23DA291C"/></g><defs><clipPath id="clip0_2618_55011"><rect width="22" height="24" fill="white" transform="translate(24 0.5) rotate(90)"/></clipPath></defs></svg>');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 22px;
  height: 24px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__header__icon {
    width: 16px;
    height: 18px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__header__title {
  font: normal 700 32px "AMX";
  line-height: normal;
  color: #000;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__header__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__header__title {
    font-size: 18px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__tabs {
  width: 456px;
  margin: 0 auto;
  height: 55px;
  border-radius: 61px;
  background: #C5261A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__tabs {
    width: 360px;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__tabs {
    width: 348px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__tabs .glider {
  display: block;
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  z-index: 10;
}
.portlet[data-portlet=zuma] .section[data-section] .section__tabs li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 102%;
  color: #fff;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  gap: 8px;
  position: relative;
  z-index: 11;
}
.portlet[data-portlet=zuma] .section[data-section] .section__tabs li.active .ball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portlet[data-portlet=zuma] .section[data-section] .section__tabs li.active .text {
  font: normal 700 20px "AMX";
  color: #C5261A;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__tabs li.active .text {
    font-size: 18px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__tabs li .ball {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("https://www.claro.com.pe/assets/havas/landing-deportes/liga2/assets/general/ball__small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-animation: rotating 3s linear infinite;
          animation: rotating 3s linear infinite;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__tabs li .ball {
    width: 20px;
    height: 20px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__tabs li .text {
  font: normal 700 20px "AMX-Regular";
  line-height: 20px;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__tabs li .text {
    font-size: 18px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__views {
  width: 1080px;
  margin: 50px auto 0;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__views {
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__views {
    width: 100%;
    padding-left: 5%;
    overflow-x: scroll;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__views::-webkit-scrollbar {
  display: none;
}
.portlet[data-portlet=zuma] .section[data-section] .section__view {
  width: 100%;
  display: none;
}
@media screen and (max-width: 640px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view {
    width: 700px;
    padding-right: 5%;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view.active {
  display: block;
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 71px;
  border-radius: 20px;
  background: -webkit-gradient(linear, right top, left top, from(#821911), color-stop(53.13%, #DA291C), to(#8D1B13));
  background: linear-gradient(270deg, #821911 0%, #DA291C 53.13%, #8D1B13 100%);
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view__header {
    height: 55px;
    border-radius: 10px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__header li {
  font: normal 700 18px "AMX";
  color: #fff;
  text-align: center;
  width: 90px;
  display: block;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view__header li {
    font-size: 13px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__header li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 290px;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view__header li:nth-child(1) {
    width: 190px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__header li:last-child {
  width: 95px;
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__item {
  width: 100%;
  height: 74px;
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view__item {
    height: 55px;
    margin-top: 12px;
    border-radius: 10px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__item li {
  font: normal 400 18px "AMX-Regular";
  color: #000;
  text-align: center;
  width: 90px;
  display: block;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view__item li {
    font-size: 13px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__item li:nth-child(1) {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 19px;
  font-family: "AMX";
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view__item li:nth-child(1) {
    gap: 10px;
    width: 190px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__item li:nth-child(1) img {
  width: 34px;
  height: 34px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view__item li:nth-child(1) img {
    width: 31.395px;
    height: 31.395px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__item li:nth-child(1) span {
  width: 190px;
  text-wrap: wrap;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .portlet[data-portlet=zuma] .section[data-section] .section__view__item li:nth-child(1) span {
    width: 70px;
  }
}
.portlet[data-portlet=zuma] .section[data-section] .section__view__item li:last-child {
  width: 95px;
  font-family: "AMX";
}
.portlet[data-portlet=zuma] .section4[data-section] {
  height: 466px;
  width: 100%;
  margin-top: 40px;
  background-image: url("/assets/background/sections/background4.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portlet[data-portlet=zuma] .section4[data-section] .section4__main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 48px 0;
}
.portlet[data-portlet=zuma] .section4[data-section] .section4__main hgroup {
  position: relative;
  z-index: 4;
  max-width: 797px;
  margin: 0 auto;
}
.portlet[data-portlet=zuma] .section4[data-section] .section4__main hgroup h2 {
  color: #fff;
  text-align: center;
  font: normal 500 44px "AMX";
  line-height: 62px;
  text-transform: uppercase;
}
.portlet[data-portlet=zuma] .section5[data-section] {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
}
.portlet[data-portlet=zuma] .section5[data-section]:after {
  width: 100%;
  height: 329.397px;
  max-height: 90%;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/assets/background/sections/background5.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main {
  width: 100%;
  height: 100%;
  padding: 40px 0 259px;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 109px;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item {
  width: 127px;
  height: 127px;
  border-radius: 100%;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item.c {
  width: 142px;
  height: 142px;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item.b {
  background-color: #fff;
}
.portlet[data-portlet=zuma] .section5[data-section] .section5__main__stores__item img {
  height: inherit;
  width: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}