/*@import "../scss/fonts";
@import "../scss/responsive";
@import "../scss/vars";*/
/*$movil		: 481px;
$movil-h 	: 641px;
$tablet		: 769px;
$tablet-h : 1025px;
$tablet-w : 1342px;
$laptop  	: 1367px;
$laptop-w : 1441px;
*/
@import url(https://fonts.googleapis.com/css?family=Anton|Bevan|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);
@font-face {
  font-family: "Gotham-Medium";
  src: url("../fonts/Gotham-Medium.eot?") format("eot"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/Gotham-Bold.eot?") format("eot"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.eot?") format("eot"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
}
@font-face {
  font-family: "AMX-Medium";
  src: url("../fonts/AMX-Medium.eot?") format("eot"), url("../fonts/AMX-Medium.woff2") format("woff2"), url("../fonts/AMX-Medium.woff") format("woff"), url("../fonts/AMX-Medium.ttf") format("truetype"), url("../fonts/AMX-Medium.svg#AMX-Medium") format("svg");
}
@font-face {
  font-family: "AMX-Bold";
  src: url("../fonts/AMX-Bold.eot?") format("eot"), url("../fonts/AMX-Bold.woff2") format("woff2"), url("../fonts/AMX-Bold.woff") format("woff"), url("../fonts/AMX-Bold.ttf") format("truetype"), url("../fonts/AMX-Bold.svg#AMX-Bold") format("svg");
}
/*$fuente1: 'Anton';
$fuente2: 'Bevan';*/
/*$font1: 'Arial';
$font2: 'Arial';*/
/******************** variables ********************/
/*$breakpoints: (
  movil  		: 480px,
  movil-h 	: 640px,
  tablet 		: 769px,
  tablet-h  : 1025px,
  tablet-w  : 1344px,
  laptop  	: 1367px
);*/
/*$path: "https://static.claro.com.pe/landings/havas/2022/dco/v2/assets";
$path-netflix: "https://static.claro.com.pe/landings/havas/2022/dco/v2/assets/banners/netflix";
$path-fibraoptica: "https://static.claro.com.pe/landings/havas/2022/dco/v2/assets/banners/fibraoptica";*/
.u-modal {
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  // width: 100%;
  width: 100%;
  height: 100vh;
  opacity: 1;
  // max-width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;*/
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.u-modal__content {
  background-color: #fff;
  border-radius: 32px;
  padding: 0px 0px;
  position: relative;
  width: 500px;
  margin: auto;
  /*@media screen and (max-width: $tablet-h) {
    width: 400px;
    margin: 0 auto;
  }
  @media screen and (min-width: $movil) {
    width: 90%;
  }*/
}
@media screen and (max-width: 480px) {
  .u-modal__content {
    width: 90%;
  }
}
.u-modal__content .content__header {
  padding: 40px 20px 20px;
  /*.title {
    margin-top: 35px;
    text-align: center;
    font: normal 600 em(22) $font1;
    line-height: 24px
  }

  .titleLeft {
    margin-top: 35px;
    text-align: left;
    font: normal 600 em(22) $font1;
    line-height: 24px
  }*/
}
.u-modal__content .content__header .close {
  background: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  float: right;
  text-shadow: none;
  opacity: inherit;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 25px;
  right: 25px;
}
.u-modal__content .content__header .close:before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/05ed392f-0935-4907-8b18-7d45766a5576-b62a3b7c-7e3c-48f9-91a2-cfd422d6f2f2-icon-close-black.svg") no-repeat center top;
  background-size: 100%;
}
.u-modal__content .content__header h3 {
  text-align: center;
  font: normal 600 1.375em "Roboto";
  line-height: 24px;
}
.u-modal__content .content__main {
  padding: 0 30px;
}
@media screen and (max-width: 480px) {
  .u-modal__content .content__main.box2 {
    height: 295px;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 480px) {
  .u-modal__content .content__main {
    height: 340px;
    overflow-y: scroll;
  }
}
.u-modal__content .content__main p {
  text-align: justify;
  font: normal 400 0.875em "Roboto";
  line-height: 20px;
  margin: 0;
}
.u-modal__content .content__main p a {
  text-decoration: none;
  color: #0fbddf;
  font-weight: 600;
}
.u-modal__content .content__footer {
  padding: 20px 20px 30px 20px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .u-modal__content .content__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.u-modal__content .content__footer a {
  background-color: #da291c;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13.5px 28px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: none;
  font: normal 600 1em "Roboto";
  color: #fff;
  border-radius: 32px !important;
}
.u-modal__content .content__footer a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #ea5449;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
@media screen and (max-width: 480px) {
  .u-modal__content .content__footer a {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}