.portlet[data-portlet=zuma] {
	html {
		margin: 0px;
		padding: 0px;
		border: 0px;
	}

	body {
		margin: 0;
		padding: 0;
		//font: 1em/1.25 Arial, Helvetica, sans-serif;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}

	ul,
	li {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}

	dl,
	dd,
	dt {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}

	table,
	td {
		border-collapse: collapse;
		margin: 0;
		padding: 0;
	}

	img {
		border: 0 none;
	}

	a,
	a:hover {
		outline: medium none;
		text-decoration: none;
	}

	br {
		clear: both;
	}

	form,
	fieldset {
		border: 0 none;
		margin: 0;
		padding: 0;
	}

	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		margin: 0;
		padding: 0;
	}

	*,
	*:after,
	*:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	// background: #006B1D;
	background-color: #005919;

	@keyframes bounceInLeft {

		from,
		60%,
		75%,
		90%,
		to {
			animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		}

		0% {
			opacity: 0;
			transform: translate3d(-3000px, 0, 0);
		}

		60% {
			opacity: 1;
			transform: translate3d(-5px, 0, 0);
		}

		75% {
			transform: translate3d(-10px, 0, 0);
		}

		90% {
			transform: translate3d(0px, 0, 0);
		}

		to {
			transform: none;
		}
	}

	@keyframes bounceInRight {

		from,
		60%,
		75%,
		90%,
		to {
			animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		}

		from {
			opacity: 0;
			transform: translate3d(3000px, 0, 0);
		}

		60% {
			opacity: 1;
			transform: translate3d(-5px, 0, 0);
		}

		75% {
			transform: translate3d(10px, 0, 0);
		}

		90% {
			transform: translate3d(0px, 0, 0);
		}

		to {
			transform: none;
		}
	}

	.section1[data-section] {
		width: 100%;
		// height: 110vh;
		height: fit-content;
		// min-height: 1350px;
		// min-height: 1100px;
		overflow: hidden;
		background: #006B1D;
		position: relative;


		@include to(tablet-h) {
			// min-height: 800px;
		}

		@include to(movil-h) {
			// height: 110vh;
			// min-height: 800px;
		}

		&:before {
			height: 100%;
			width: 100%;
			max-width: 300px;
			max-height: 1000px;
			flex-shrink: 0;
			position: absolute;
			z-index: 3;
			content: '';
			left: 0;
			top: 0;
			z-index: 3;
			background-image: url('/assets/variants/resource1__left.png');
			background-repeat: no-repeat;
			background-position: top right;
			background-size: cover;
			animation: bounceInLeft .5s ease-in;

			@include to(widescreen) {
				max-width: 15%;
				width: 340px;
			}

			@include to(laptop) {
				max-width: 20%;
			}

			@include to(tablet-h) {
				max-width: 205px;
				width: 16%;
				height: 100%;
				background-size: contain;
				background-image: url('/assets/variants/resource1__left-T.png');
			}

			@include to(movil) {
				background-image: url('/assets/variants/resource1__left-M.png');
				width: 28%;
			}
		}


		&:after {
			height: 100%;
			max-height: 1000px;
			width: 100%;
			max-width: 300px;
			flex-shrink: 0;
			position: absolute;
			z-index: 3;
			content: '';
			right: 0;
			top: 0;
			background-image: url('/assets/variants/resource1__right.png');
			background-repeat: no-repeat;
			background-position: top left;
			background-size: cover;
			animation: bounceInRight .5s ease-in;

			@include to(widescreen) {
				max-width: 15%;
				width: 340px;
			}

			@include to(tablet-h) {
				max-width: 205px;
				width: 16%;
				height: 100%;
				background-size: contain;
				background-image: url('/assets/variants/resource1__right-t.png');
			}

			@include to(movil) {
				background-image: url('/assets/variants/resource1__right-M.png');
				width: 28%;
			}
		}

		.section1__main {
			width: 100%;
			height: inherit;
			background-color: #fff;

			position: relative;

			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 30%;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
				background-image: url('/assets/background/sections/background1__bottom.png');

				background-position: top center;
				background-size: cover;

				@include to(tablet-h) {
					height: 27%;
				}

				@include to(tablet) {
					// height: 25%;
					background-position: left;
				}

				@include to(movil-h) {
					// height: 25%;
					background-position: center top;
					height: 22%;
				}

			}

			&__logo {
				position: absolute;
				top: 13%;
				left: 0;
				right: 0;
				z-index: 4;
				margin: 0 auto;

				// img {
				width: 147.285px;
				height: 140px;
				top: 19%;
				// }

				@include to(tablet-h) {
					width: 130px;
					height: 120px;
					top: 18%;
				}

				@include to(tablet) {
					width: 79.956px;
					height: 76px;
				}

				@include to(movil) {
					top: 20%;
				}
			}


			h1 {
				position: absolute;
				left: 0;
				right: 0;
				top: 24%;
				z-index: 3;
				margin: 0 auto;
				text-align: center;
				max-width: 663px;
				font: normal 500 44px $font5;
				color: #fff;
				line-height: 50px;
				text-transform: uppercase;

				@include to(tablet-h) {
					font-size: 30px;
					line-height: 40px;
				}

				@include to(tablet) {
					font-size: 23px;
					line-height: 29px;
					max-width: 300px;
					text-transform: initial;
					top: 17%;
					z-index: 5;
				}
			}

			@keyframes bobble {
				0% {
					transform: translateY(10px);
				}

				50% {
					transform: translateY(30px);
				}

				100% {
					transform: translateY(10px);
				}
			}

			.arrow {


				&__left,
				&__right {
					opacity: .5;
					transition: all 0.3s ease;
					filter: grayscale(3px);
					// border: 1.2px solid #fff;

					// background-color: #fff;
					border-radius: 100%;

					&:hover {
						opacity: 1;
						transition: all 0.3s ease;
						filter: grayscale(0px);
					}

					@include to(tablet) {
						opacity: 1;
						filter: grayscale(0px);
					}
				}


				&__left {
					position: absolute;
					z-index: 5;
					// background-color: #004513;
					width: 50px;
					height: 50px;
					top: 49%;
					background-image: url('/assets/variants/arrow__left.png');
					background-position: center;
					background-size: contain;
					left: 0;
					right: 0;
					margin: 0 auto;
					cursor: pointer;
					transform: translateX(-330px);

					@include to(tablet-h) {
						transform: translateX(-280px);
						top: 48%;
					}

					@include to(tablet) {
						transform: translateX(-100px);
					}

					@include to(movil) {
						transform: translateX(-80px);
						top: 45%;
					}
				}

				&__right {
					position: absolute;
					z-index: 5;
					// background-color: #004513;
					width: 50px;
					height: 50px;
					top: 49%;
					background-image: url('/assets/variants/arrow__right.png');
					background-position: center;
					background-size: contain;
					left: 0;
					right: 0;
					margin: 0 auto;
					cursor: pointer;
					transform: translateX(370px);

					@include to(tablet-h) {
						transform: translateX(300px);
						top: 48%;
					}

					@include to(tablet) {
						transform: translateX(100px);
					}

					@include to(movil) {
						transform: translateX(80px);
						top: 45%;
					}
				}

				&__down {
					display: none;
					position: absolute;
					z-index: 5;
					bottom: 30%;
					left: 0;
					right: 0;
					margin: 0 auto;
					width: 64px;
					height: 62px;
					border-radius: 8.548px;
					background: #006B1E;
					display: flex;
					justify-content: center;
					align-items: center;

					animation: bobble 3s infinite;
					box-shadow: -1px 0px 52px 5px rgba(0, 0, 0, 0.35);
					-webkit-box-shadow: -1px 0px 52px 5px rgba(0, 0, 0, 0.35);
					-moz-box-shadow: -1px 0px 52px 5px rgba(0, 0, 0, 0.35);

					@include to(1300px) {
						bottom: 12%;
					}

					@include to(tablet-h) {
						width: 51px;
						height: 49.406px;
						bottom: 16%;
					}
				}
			}
		}

		.section1__slider {
			width: 100%;
			position: relative;
			display: flex;
			// width: fit-content;
			height: 1000px;

			@include to(tablet-h) {
				height: 800px;
			}

			@include to(tablet) {
				height: 700px;
			}

			@keyframes fadeIn {
				0% {
					opacity: .5;
				}

				100% {
					opacity: 1;
				}
			}


			&__item {
				width: 100vw;
				height: inherit;

				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				display: flex;
				justify-content: center;
				flex-direction: row;
				align-items: flex-start;
				padding-top: 330px;

				opacity: 0;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				transition: opacity .7s ease-in-out;


				&.active {
					opacity: 1;
				}

				@include to(laptop) {
					// padding-top: 2%;
				}

				@include to(tablet-h) {
					padding-top: 250px;
				}

				@include to(tablet) {
					align-items: flex-start;
					// padding-top: 4%;
					padding-top: 240px;
				}

				@include to(movil-h) {
					// padding-top: 7.5%;
					align-items: flex-start;
					// padding-top: 80px;
					// height: fit-content;
				}

				@include to(movil) {
					padding-top: 230px;
				}




				&.v1 {
					background-image: url('/assets/background/slides/fondo1.webp');

					@include to(tablet-h) {
						background-image: url('/assets/background/slides/fondo1-T.jpg');
					}

					@include to(movil) {
						background-image: url('/assets/background/slides/fondo1-M.png');
					}
				}

				&.v2 {
					background-image: url('/assets/background/slides/fondo2.webp');

					@include to(tablet-h) {
						background-image: url('/assets/background/slides/fondo2-T.jpg');
					}


					@include to(movil) {
						background-image: url('/assets/background/slides/fondo2-M.png');

					}
				}

				&.v3 {
					background-image: url('/assets/background/slides/fondo3.webp');

					@include to(tablet-h) {
						background-image: url('/assets/background/slides/fondo3-T.jpg');
					}

					@include to(movil) {
						background-image: url('/assets/background/slides/fondo3-M.png');
					}

				}

				&.v4 {
					background-image: url('/assets/background/slides/fondo4.webp');

					@include to(tablet-h) {
						background-image: url('/assets/background/slides/fondo4-T.jpg');
					}

					@include to(movil) {
						background-image: url('/assets/background/slides/fondo4-M.png');
					}
				}

				&.v5 {
					background-image: url('/assets/background/slides/fondo5.webp');

					@include to(tablet-h) {
						background-image: url('/assets/background/slides/fondo5-T.jpg');
					}

					@include to(movil) {
						background-image: url('/assets/background/slides/fondo5-M.png');
					}
				}

				&.v6 {
					background-image: url('/assets/background/slides/fondo6.webp');

					@include to(tablet-h) {
						background-image: url('/assets/background/slides/fondo6-T.jpg');
					}

					@include to(movil) {
						background-image: url('/assets/background/slides/fondo6-M.png');
					}
				}


				&__main {
					display: flex;
					justify-content: center;
					flex-direction: row;
					align-items: center;
					gap: 10px;

					@include to(tablet) {
						flex-direction: column;
					}

					// padding-top: 18%;

					&__img {
						// width: 217.27px;
						height: 400px;
						width: auto;
						transform: rotate(15.284deg);
						flex-shrink: 0;

						@include to(tablet-h) {
							height: 350px;
						}

						@include to(tablet) {
							height: 220px;
						}

						@include to(movil-h) {
							height: 170px;
						}

						@include to(movil) {
							height: 190px;
						}
					}

					&__content {
						position: relative;
						z-index: 100;
						min-width: 352px;

						@include to(tablet) {
							min-width: auto;
						}

						h2 {
							font: normal 500 40px $font5;
							color: #fff;
							line-height: 60px;
							text-transform: uppercase;

							@include to(tablet) {
								font-size: 22px;
								line-height: 33px;
							}

							@include to(movil) {
								text-align: center;
							}
						}

						p {
							@include to(movil) {
								text-align: center;
							}

							span {
								font: normal 700 20px $font2;
								line-height: 25px;

								@include to(tablet) {
									font-size: 10.622px;
									line-height: 13px;
								}

								@include to(movil) {
									text-align: center;
								}

								&.c {
									font-size: 30px;

									// line-height: ;
									@include to(tablet) {
										font-size: 15.933px;
									}
								}
							}

							&.v1 {
								color: #FAAEFF;
							}

							&.v2 {
								color: #FEFFC0;
							}

							&.v3 {
								color: #E0FFD8;
							}

							&.v4 {
								color: #FFD1FD;
							}

							&.v5 {
								color: #F7FFD8;
							}

							&.v6 {
								color: #F7FFC6;
							}
						}

						.toScrollStores {
							width: 188px;
							border: none;
							border: 1px solid #fff;
							height: 56px;
							margin-top: 32px;
							background-color: transparent;
							border-radius: 30px;
							cursor: pointer;

							display: flex;
							justify-content: center;
							align-items: center;
							gap: 10px;

							opacity: .7;
							transition: all 0.3s ease;
							filter: grayscale(8px);

							&:hover {
								opacity: 1;
								transition: all 0.3s ease;
								transform: translateY(-5px);
								filter: grayscale(0px);

								@include to(tablet) {
									transform: none;
								}
							}

							span {
								color: #fff;
								font: normal 500 16px $font4;
								line-height: 40.741px;
							}

							img {
								width: 16px;
								height: 18px;
							}

							@include to(tablet) {
								display: none;
							}

						}
					}
				}
			}
		}
	}

	.section2[data-section] {
		width: 100%;
		// height: 640px;
		height: fit-content;
		overflow: hidden;
		background: #006B1D;
		position: relative;
		top: -1px;

		.brands {
			position: absolute;
			top: 20px;
			z-index: 10;
			margin: 0 auto;
			left: 0;
			right: 0;

			width: 755.004px;
			height: 86.001px;

			// display: none;

			@include to(1690px) {
				// top: -2%;
				top: 10px;
				width: 555.004px;
				height: 66.001px;
			}

			@include to(tablet) {
				width: 406.895px;
				height: 56px;
				// top: 8%;
			}

			@include to(movil-h) {
				width: 295px;
				max-width: 90%;
				margin-top: 0px;
				height: 40px;
			}

			img {
				width: inherit;
				height: inherit;
				object-fit: contain;
				object-position: center;
			}
		}

		.section2__main {
			width: 100%;
			text-align: center;
			min-height: 300px;
			padding: 200px 0 30px;

			@include to(tablet-h) {
				padding-top: 150px;
			}

			@include to(movil-h) {
				padding-top: 100px;
				padding-bottom: 0;
				min-height: auto;
			}

			hgroup {
				h2 {
					font: normal 400 44px $font5;
					line-height: 50px;
					color: #fff;
					text-align: center;
					text-transform: uppercase;

					@include to(tablet-h) {
						font-size: 30px;
						line-height: 35px;
					}

					@include to(movil-h) {
						font-size: 20px;
						line-height: 35px;
					}
				}
			}

			&__list {
				display: flex;
				justify-content: center;

				flex-wrap: wrap;
				width: 100%;
				display: flex;
				flex-wrap: nowrap;
				width: 100%;
				max-width: 1920px;
				margin: 120px auto 0;
				height: 320px;

				@include to(laptop) {
					gap: 0;
					justify-content: space-around;
				}

				@include to(tablet-h) {
					height: 190px;
					margin-top: 50px;
					max-width: 90%;
				}

				@include to(tablet) {
					width: 100%;
					flex-wrap: nowrap;
					height: 150px;
				}

				@include to(movil-h) {
					height: 120px;
					margin-top: 50px;
				}
			}

			@keyframes fadeIn {
				0% {
					opacity: 0;
				}

				100% {
					opacity: .5;
				}
			}

			@keyframes fadeIn1 {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}




			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				gap: 7px;
				width: 20vw;
				animation: fadeIn 1s ease forwards, left 0.5s ease;
				opacity: .5;
				width: 20%;

				height: fit-content;

				img {
					height: auto;
					max-width: 63px;
					object-fit: contain;
					object-position: center;

					@include to(tablet-h) {
						max-width: 40px;
					}

					@include to(tablet) {
						max-width: 25px;
					}
				}

				span {
					font: normal 400 14px $font5;
					line-height: 16px;
					color: #fff;
					text-align: center;

					@include to(tablet-h) {
						font-size: 7px;
						line-height: 10px;
						max-width: 54px;
						text-align: center;
					}

					@include to(movil-h) {
						font-size: 6px;
						line-height: 9px;
					}

					br {
						@include to(tablet) {
							display: none;
						}
					}
				}

				&:nth-child(1),
				&:nth-child(5) {
					transform: translateY(170px);

					@include to(tablet-h) {
						transform: translateY(50px);
					}

					@include to(movil-h) {
						transform: translateY(20px);
					}

				}

				&:nth-child(2),
				&:nth-child(4) {
					transform: translateY(60px);

					@include to(tablet-h) {
						transform: translateY(10px);
					}

					@include to(movil-h) {
						transform: translateY(5px);
					}
				}

				&:nth-child(3) {
					// transform: translateY(40px);
					transform: scale(1.4);
					animation: fadeIn1 1.5s ease forwards;
					opacity: 1;

					@include to(tablet-h) {
						transform: scale(1.4) translateY(-10px);
					}

					@include to(movil-h) {
						transform: scale(1.4) translateY(-10px);
					}
				}

				// &:nth-child(4) {
				// 	transform: translateY(60px);

				// 	@include to(tablet-h) {
				// 		transform: translateY(90px);
				// 	}

				// 	@include to(movil-h) {
				// 		transform: translateY(40px);
				// 	}
				// }

				// &:nth-child(5) {

				// 	transform: translateY(170px);

				// 	@include to(tablet-h) {
				// 		transform: translateY(40px);
				// 	}

				// 	@include to(movil-h) {
				// 		transform: translateY(0px);
				// 	}
				// }
			}
		}

	}



	.section3[data-section] {
		padding-bottom: 80px;
		padding-top: 2rem;
		height: fit-content;
		width: 100%;
		position: relative;
		top: -2px;

		background: #006B1D;

		@include to(tablet-h) {
			padding-top: 1rem;
		}

		@include to(movil-h) {
			padding: 2rem;
		}


		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;

			top: -10%;
			left: 0;
			right: 0;
			z-index: 1;
			background-image: url('/assets/background/sections/background3.png');
			background-repeat: no-repeat;
			background-position: top;
			background-size: 100%;

			@include to(movil-h) {
				top: -3%;
				background-image: url('/assets/background/sections/background3-M.png');
			}
		}

		&::before {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			right: 0;
			height: 30%;
			width: 100%;
			background-color: #005919;

			@include to(movil-h) {
				height: 70%;
			}
		}



		@include to(movil-h) {
			padding-bottom: 30px;
		}

		.section3__main {
			width: 100%;
			z-index: 2;
			position: relative;
			// overflow: hidden;

			&:before {
				position: absolute;
				content: '';
				width: 350px;
				height: 100%;

				top: 4%;
				left: 0;
				z-index: 1;
				background-image: url('/assets/variants/resource3__left.png');
				background-repeat: no-repeat;
				background-position: top;
				background-size: 100%;

				@include to(widescreen) {
					width: 418px;
					max-width: 18%;
					top: 15%;
				}

				@include to(1400px) {
					max-width: 14%;
					left: -30px;
					top: 30%;
				}

				@include to(tablet-h) {
					background-image: url('/assets/variants/resource3__left-T.png');
					width: 205px;
					max-width: 18%;
					top: auto;
					height: 95%;
					bottom: -7%;
				}

				@include to(tablet) {
					bottom: -32%;
					max-width: 16%;
				}

				@include to(movil-h) {
					background-image: url('/assets/variants/resource3__left-M.png');
					// width: 90px;
					// height: 407px;
					// top: auto;
					// left: -9.7%;
					// bottom: 3%;

					width: 120px;
					height: 420px;
					top: auto;
					left: -10%;
					bottom: 7%;
					max-width: 20%;
					// left: -50%;
				}
			}

			&:after {
				position: absolute;
				content: '';
				width: 350px;
				height: 100%;
				top: 6%;
				right: 0;
				z-index: 1;
				background-image: url('/assets/variants/resource3__right.png');
				background-repeat: no-repeat;
				background-position: top;
				background-size: 100%;

				@include to(widescreen) {
					width: 418px;
					max-width: 18%;
					top: 15%;
				}

				@include to(1400px) {
					max-width: 15%;
					right: -30px;
					top: 30%;
				}

				@include to(tablet-h) {
					background-image: url('/assets/variants/resource3__right-T.png');
					width: 205px;
					max-width: 18%;
					top: auto;
					height: 95%;
					bottom: -4%;
				}

				@include to(tablet) {
					bottom: -32%;
					max-width: 16.5%;
				}

				@include to(movil-h) {
					background-image: url('/assets/variants/resource3__right-M.png');
					// width: 90px;
					// height: 407px;
					// top: auto;
					// right: -9.7%;
					// bottom: 3%;
					width: 120px;
					height: 420px;
					top: auto;
					right: -10%;
					bottom: 7%;
					max-width: 20%;
				}
			}

			hgroup {
				h2 {
					font: normal 400 44px $font5;
					line-height: 50px;
					color: #fff;
					text-align: center;

					@include to(tablet-h) {
						font-size: 30px;
						line-height: 30px;
					}

					@include to(tablet) {
						font-size: 20px;
						line-height: 50px;
					}
				}

				p {
					font: normal 400 16px $font4;
					line-height: 26px;
					color: #fff;
					max-width: 994px;
					text-align: left;
					margin: 49px auto 0;

					@include to(tablet-h) {
						max-width: 584px;
						margin-top: 47px;
					}

					@include to(movil-h) {
						font-size: 14px;
						line-height: 22px;
						max-width: 306px;
						width: 90%;
						margin-top: 10px;
					}
				}
			}

			&__video {
				width: 1191px;
				height: 670px;
				margin: 64px auto 0;

				max-width: 90%;

				border-radius: 20px;
				overflow: hidden;

				position: relative;

				@include to(1400px) {
					max-width: 80%;
				}

				@include to(tablet-h) {
					height: auto;
				}

				@include to(1290px) {
					max-width: 75%;
					height: 560px;
				}

				@include to(tablet-h) {
					width: 638.317px;
					height: 359.087px;
				}

				@include to(movil-h) {
					border-radius: 20px;
					max-width: 100%;

					margin-top: 30px;
					width: 285px;
					height: 433px;
				}

				&__icon {
					position: absolute;
					// content: '';
					background-image: url('/assets/variants/icon__mute.png');
					background-position: center;
					background-size: contain;
					width: 53px;
					height: 53px;
					margin: 0 auto;
					left: 0;
					right: 0;
					bottom: 37px;
					display: block;
					cursor: pointer;
					z-index: 100;
					transition: all;

					&.active {
						background-image: url('/assets/variants/icon__audio.png');
					}


					@include to(tablet-h) {
						width: 28.405px;
						height: 28.405px;
						bottom: 22px;
					}

					@include to(movil-h) {
						width: 43px;
						height: 43px;
						bottom: 18px;
						right: 14px;
						margin: 0 0 0 auto;
					}

				}

				video {
					width: 100%;
					height: 100%;
					object-fit: fill;
					object-position: center;


					&.desktop {
						display: block;

						@include to(movil-h) {
							display: none;
						}
					}

					&.mobile {
						display: none;

						@include to(movil-h) {
							display: flex;
						}
					}

				}
			}

			&__resources {
				width: 660.759px;
				height: 66.471px;
				margin: 64px auto 0;

				@include to(tablet-h) {
					width: 447.277px;
					height: 45px;
				}

				@include to(movil-h) {
					width: 310.613px;
					height: 36.034px;
					max-width: 90%;
					margin-top: 30px;
				}

				img {
					width: 100%;
					height: auto;
					object-fit: contain;
					object-position: center;
				}
			}
		}
	}

	.section4[data-section] {
		height: 466px;
		width: 100%;

		background-image: url('/assets/background/sections/background4.webp');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;

		@include to(tablet-h) {
			height: 350px;
		}


		@include to(movil-h) {
			background-image: url('/assets/background/sections/background4-M.png');
			height: 195px;
		}

		.section4__main {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			padding: 0 0 48px 0;

			@include to(movil-h) {
				padding-bottom: 0;
			}

			hgroup {
				position: relative;
				z-index: 4;
				max-width: 797px;
				margin: 0 auto;

				@include to(movil-h) {
					max-width: 320px;
					margin-bottom: -14px;
				}

				h2 {
					color: #fff;
					text-align: center;
					font: normal 500 44px $font5;
					line-height: 62px;
					text-transform: uppercase;

					@include to(tablet-h) {
						font-size: 30px;
						line-height: 33px;
					}

					@include to(movil-h) {
						font-size: 20px;
						line-height: 29px;
					}
				}
			}
		}
	}

	.section5[data-section] {
		height: fit-content;
		width: 100%;
		position: relative;
		background-color: #006B1E;


		&:after {
			width: 100%;
			height: 329.397px;
			max-height: 90%;

			position: absolute;
			z-index: 1;
			content: '';
			bottom: -2px;
			left: 0;
			right: 0;
			background-color: #006B1E;
			background-image: url('/assets/background/sections/background5.webp');
			background-position: bottom center;
			background-repeat: no-repeat;
			background-size: cover;

			@include to(movil-h) {
				background-image: url('/assets/background/sections/background5-M.png');
				background-position: center;
				width: 100%;
				height: 210px;
			}
		}




		.section5__main {
			width: 100%;
			height: 100%;
			padding: 40px 0 259px;
			position: relative;
			z-index: 2;

			@include to(tablet-h) {
				padding: 40px 0 180px;
			}

			@include to(movil-h) {
				padding-bottom: 151px;
			}

			&__stores {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 109px;

				@include to(tablet-h) {
					gap: 50px;
				}

				@include to(movil-h) {
					gap: 10px;
				}

				&__item {
					width: 127px;
					height: 127px;
					border-radius: 100%;
					display: block;

					cursor: pointer;

					transition: all 0.3s ease;
					// opacity: 1;
					// filter: grayscale(0px);
					cursor: pointer;

					&:hover {
						// opacity: .7;
						transition: all 0.3s ease;
						transform: translateY(-3px);
						// filter: grayscale(0px);

						@include to(movil-h) {
							transform: none;
						}
					}

					@include to(tablet-h) {
						width: 68px;
						height: 68px;
					}

					@include to(movil-h) {
						width: 56px;
						margin: 0 20px;
						height: 56px;
					}

					&.c {
						width: 142px;
						height: 142px;

						@include to(tablet-h) {
							width: 78px;
							height: 78px;
						}

						@include to(movil-h) {
							width: 65px;
							height: 65px;
						}
					}

					&.b {
						background-color: #fff;
					}

					img {
						height: inherit;
						width: inherit;
						object-fit: contain;
					}
				}
			}

			&__social {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-top: 110px;
				gap: 40px;

				@include to(tablet-h) {
					margin-top: 45px;
				}

				@include to(movil-h) {
					margin-top: 57px;
					gap: 34px;
				}

				hgroup {
					@include to(movil-h) {
						max-width: 300px;
						margin: 0 auto;
					}

					p {
						font: normal 500 20px $font3;
						color: #fff;
						text-align: center;
						line-height: 25px;
					}
				}

				&__icons {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 57px;

					@include to(movil-h) {
						gap: 41px;
					}
				}

				&__icon {
					width: 68px;
					height: 68px;
					border: 1px solid #fff;
					border-radius: 100%;
					opacity: 0.5;

					display: flex;
					justify-content: center;
					align-items: center;
					transition: all 0.3s ease;
					filter: grayscale(8px);
					cursor: pointer;

					&:hover {
						opacity: 1;
						transition: all 0.3s ease;
						transform: translateY(-5px);
						filter: grayscale(0px);

						@include to(movil-h) {
							transform: none;
						}
					}

					@include to(tablet-h) {
						width: 49px;
						height: 49px;

						filter: grayscale(0px);
						opacity: 1;

					}

					&:nth-child(1) {
						img {
							width: 36.615px;
							height: 36.615px;

							@include to(tablet-h) {
								width: 26.385px;
								height: 26.385px;
							}
						}
					}

					&:nth-child(2) {
						img {
							width: 40.779px;
							height: 40.779px;

							@include to(tablet-h) {
								width: 29.385px;
								height: 29.385px;
							}
						}
					}

					&:nth-child(3) {
						img {
							width: 28.161px;
							height: 28.161px;

							@include to(tablet-h) {
								width: 20.293px;
								height: 20.293px;
							}
						}
					}

				}
			}
		}
	}

	.section6[data-section] {
		width: 100%;
		height: fit-content;
		background: #004513;
		position: relative;
		z-index: 2;

		// display: none;

		.section6__main {
			width: 90%;
			margin: 0 auto;
			max-width: 1110px;
			height: 95px;
			display: flex;
			padding-top: 24px;
			justify-content: space-between;
			align-items: center;

			@include to(movil-h) {
				max-width: 85%;
				flex-wrap: wrap;
			}

			&__copy {
				color: rgba(255, 255, 255, 0.50);
				font: normal 400 14px $font3;
				line-height: 28.929px;

				@include to(movil-h) {
					font-size: 8px;
					line-height: 17.109px;
				}
			}

			&__made {

				position: relative;
				color: #fff;
				font: normal 400 14px $font3;
				line-height: 14px;
				padding-right: 80px;

				@include to(movil-h) {
					font-size: 8px;
					line-height: 17.109px;
					padding-right: 45px;
				}


				&::before {
					position: absolute;
					content: '';
					width: 8.839px;
					height: 8.447px;
					right: 62px;
					margin: auto 0;
					top: 3px;

					background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="10" viewBox="0 0 9 10" fill="none"><g clip-path="url(%23clip0_268_2779)"><path d="M4.42029 8.21575C4.3094 8.21561 4.20112 8.1836 4.10953 8.12386C2.75272 7.24374 2.16521 6.64027 1.84116 6.26299C1.15058 5.45875 0.81997 4.63307 0.829293 3.73893C0.84017 2.71429 1.70045 1.88086 2.74702 1.88086C3.50804 1.88086 4.03512 2.29048 4.34208 2.63164C4.3518 2.64234 4.36382 2.65092 4.37731 2.6568C4.3908 2.66268 4.40546 2.66572 4.42029 2.66572C4.43512 2.66572 4.44977 2.66268 4.46327 2.6568C4.47676 2.65092 4.48877 2.64234 4.4985 2.63164C4.80546 2.29015 5.33254 1.88086 6.09355 1.88086C7.14012 1.88086 8.00041 2.71429 8.01128 3.73909C8.0206 4.6334 7.68965 5.45908 6.99942 6.26315C6.67536 6.64044 6.08786 7.2439 4.73105 8.12402C4.63944 8.1837 4.53116 8.21566 4.42029 8.21575Z" fill="white"/></g><defs><clipPath id="clip0_268_2779"><rect width="8.83937" height="8.44652" fill="white" transform="translate(0 0.824219)"/></clipPath></defs></svg>') center no-repeat;

					@include to(movil-h) {
						width: 5.228px;
						height: 4.995px;
						background-size: contain;
						top: 5px;
						right: 35px;
					}
				}


				&::after {
					position: absolute;
					content: '';
					width: 50.654px;
					height: 11.475px;
					right: 0;
					margin: auto 0;
					top: 2px;



					background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="51" height="12" viewBox="0 0 51 12" fill="none"><path d="M7.8237 5.86887H7.74387L5.33555 0.277383C5.26902 0.102193 5.10936 0 4.93638 0H0.439084C0.199583 0 0 0.218988 0 0.481773V10.9786C0 11.2414 0.199583 11.4604 0.439084 11.4604H3.67235C3.91185 11.4604 4.11144 11.2414 4.11144 10.9786V5.54769H4.19127L6.77256 11.1976C6.8524 11.3582 6.99876 11.4604 7.15842 11.4604H11.4961C11.7356 11.4604 11.9351 11.2414 11.9351 10.9786V0.481773C11.9351 0.218988 11.7356 0 11.4961 0H8.26279C8.02329 0 7.8237 0.218988 7.8237 0.481773V5.86887Z" fill="white"/><path d="M17.7357 6.43926H23.5103C23.6567 6.43926 23.7631 6.30787 23.7631 6.16188V5.31512C23.7631 5.15453 23.6434 5.03774 23.5103 5.03774H17.7357V3.41723H23.7764C24.0159 3.41723 24.2155 3.19825 24.2155 2.93546V0.497396C24.2155 0.234611 24.0159 0.015625 23.7764 0.015625H13.7174C13.4779 0.015625 13.2783 0.234611 13.2783 0.497396V11.0088C13.2783 11.2716 13.4779 11.476 13.7041 11.476H23.8297C24.0692 11.476 24.2688 11.257 24.2688 10.9942V8.70213C24.2688 8.43935 24.0692 8.22036 23.8297 8.22036H17.7224V6.43926H17.7357Z" fill="white"/><path d="M37.5758 4.54034C37.5758 0.55477 35.5001 0 32.7458 0H26.0797C25.8402 0 25.6406 0.218988 25.6406 0.481773V10.9786C25.6406 11.2414 25.8402 11.4604 26.0797 11.4604H29.6589C29.8984 11.4604 30.098 11.2414 30.098 10.9786V8.94929H30.8564C31.0959 10.2048 32.014 11.183 33.1849 11.402C33.318 11.4312 33.4643 11.4604 33.624 11.4604H37.15C37.3895 11.4604 37.5891 11.2414 37.5891 10.9786V8.94929C37.5891 8.68651 37.3895 8.46752 37.15 8.46752H35.713C36.9105 7.92735 37.5758 6.80322 37.5758 4.54034ZM30.0847 3.37241H32.0939C32.5862 3.37241 32.9986 3.79578 33.0386 4.33595C33.1317 5.59148 32.7724 6.01486 31.7878 6.04406H30.0847V3.37241Z" fill="white"/><path d="M50.6549 5.66448C50.6549 1.50372 48.8187 0 45.2661 0H39.3717C39.1322 0 38.9326 0.218988 38.9326 0.481773V10.9202C38.9326 11.2268 39.1588 11.4604 39.4249 11.4604H45.2661C48.832 11.4604 50.6549 9.95664 50.6549 5.79587C50.6549 5.76667 50.6549 5.75208 50.6549 5.73748C50.6549 5.70828 50.6549 5.69368 50.6549 5.66448ZM44.5077 7.94195H43.3102V6.65722V3.5184H44.5077C45.8382 3.5184 46.1842 4.32135 46.1975 5.72288C46.1842 7.15359 45.8382 7.94195 44.5077 7.94195Z" fill="white"/></svg>') center no-repeat;

					@include to(movil-h) {
						width: 29.958px;
						height: 6.786px;
						background-size: contain;
						top: 4px;
					}
				}
			}
		}
	}

}