extends includes/master

block vars
	- var script = 1;
	- var css = 0;
	- var title = 'Landing Zuma';
	- var plugins = 0;

block content
	.page1
		.page1__main
			.portlet(data-portlet="zuma")
				section.section1(data-section)
					.section1__main
						img.section1__main__logo(src="/assets/variants/logo.png" alt="")
						h1 Muy pronto descubrirás el poder de lo natural
						.arrow__left 
						.arrow__right 
						.arrow__down 
							img(src="/assets/variants/arrow__down.png" alt="")
						.brands 
							img(src="/assets/variants/img__bottom.png" alt="")
						.section1__slider 
							.section1__slider__item.v1 
								.section1__slider__item__main 
									img.section1__slider__item__main__img(src="/assets/bebidas/babida1.png" alt="")
									.section1__slider__item__main__content 
										h2 BETEBRAVA 
										p.v1 
											span.c KION 
											span ZANAHORIA 
											span MANZANA 
											br
											span LIMÓN 
											span.c BETERRAGA

										button.toScrollStores 
											span Puntos de venta
											img(src="/assets/variants/arrow__down.png" alt="")
							.section1__slider__item.v2 
								.section1__slider__item__main 
									img.section1__slider__item__main__img(src="/assets/bebidas/bebida2.png" alt="")
									.section1__slider__item__main__content 
										h2 AMOR AMARELO 
										p.v2 
											span.c PIÑA 
											span Manzana 
											br
											span LIMÓN 
											span.c HIERBABUENA
										button.toScrollStores 
											span Puntos de venta
											img(src="/assets/variants/arrow__down.png" alt="")

							.section1__slider__item.v3 
								.section1__slider__item__main 
									img.section1__slider__item__main__img(src="/assets/bebidas/bebida3.png" alt="")
									.section1__slider__item__main__content 
										h2 PASSION 
										p.v4 
											span.c PIÑA 
											span NARANJA 
											br
											span LIMÓN 
											span.c MARACUYÁ
										button.toScrollStores 
											span Puntos de venta
											img(src="/assets/variants/arrow__down.png" alt="")

							.section1__slider__item.v4 
								.section1__slider__item__main 
									img.section1__slider__item__main__img(src="/assets/bebidas/bebida4.png" alt="")
									.section1__slider__item__main__content 
										h2 PRESIDENTE 
										p.v3 
											span.c PIÑA 
											span MANZANA 
											span ESPINACA 
											br
											span ACELGA 
											span.c LIMÓN 
											span KION
										button.toScrollStores 
											span Puntos de venta
											img(src="/assets/variants/arrow__down.png" alt="")

							.section1__slider__item.v5 
								.section1__slider__item__main 
									img.section1__slider__item__main__img(src="/assets/bebidas/bebida5.png" alt="")
									.section1__slider__item__main__content 
										h2 CITRICAZO 
										p.v5 
											span.c NARANJA 
											span TORONJA 
											br
											span HIERBABUENA 
											span.c LIMÓN
										button.toScrollStores 
											span Puntos de venta
											img(src="/assets/variants/arrow__down.png" alt="")
							.section1__slider__item.v6 
								.section1__slider__item__main 
									img.section1__slider__item__main__img(src="/assets/bebidas/bebida6.png" alt="")
									.section1__slider__item__main__content 
										h2 DEFENSE 
										p.v6 
											span KION 
											br
											span CAMU CAMU 
											//- span.c BETERRAGA
										button.toScrollStores 
											span Puntos de venta
											img(src="/assets/variants/arrow__down.png" alt="")



				section.section2(data-section)
					.section2__main 
						hgroup 
							h2 MOMENTOS ZUMA

						.section2__main__list.portlet1--contentleft 
							.section2__main__item 
								img(src="/assets/variants/item1.png" alt="")
								span EMPIEZA BIEN<br/> TU DÍA
							.section2__main__item 
								img(src="/assets/variants/item2.png" alt="")
								span RECARGA<br/> TUS ENERGÍAS
							.section2__main__item 
								img(src="/assets/variants/item3.png" alt="")
								span ALIMÉNTATE<br/> SALUDABLE
							.section2__main__item 
								img(src="/assets/variants/item4.png" alt="")
								span TOMA UN<br/> DESCANSO
							.section2__main__item 
								img(src="/assets/variants/item5.png" alt="")
								span ENTRENA CON<br/> ENERGÍA
							.section2__main__item 
								img(src="/assets/variants/item6.png" alt="")
								span MANTÉN LA<br/> CONCENTRACIÓN
							.section2__main__item 
								img(src="/assets/variants/item7.png" alt="")
								span HIDRÁTATE EN<br/> EL CAMINO



				section.section3(data-section)
					.section3__main 
						hgroup 
							h2 ¿CÓMO EMPEZÓ TODO?
							p ZUMA Cold Pressed es una marca 100% peruana, orgullosa de nacer en una de las tierras más ricas y biodiversas del planeta. Nuestro propósito es agregar valor a la inmensa riqueza de la naturaleza peruana con productos innovadores que balancean su poder nutricional con sabores únicos y deliciosos. Todos los productos ZUMA son 100% naturales y frescos, sin agua, endulzantes, ni aditivos químicos añadidos.

						.section3__main__video 
							video.desktop(autoplay="autoplay") 
								source(src="/assets/videos/zuma.mp4" type="video/mp4") 
							video.mobile(autoplay="autoplay" poster="/assets/background/sections/background__video.png") 
								source(src="/assets/videos/zuma-M.mp4" type="video/mp4") 

						.section3__main__resources
							img(src="/assets/variants/resources3.png" alt="")

				section.section4(data-section) 
					.section4__main 
						hgroup 
							h2 ¡ENCUÉNTRANOS EN TIENDAS Y SUPERMERCADOS!

				section.section5(data-section) 
					.section5__main 
						.section5__main__stores
							.section5__main__stores__item.c 
								img(src="/assets/logos/logo1.png" alt="")
							.section5__main__stores__item.c
								img(src="/assets/logos/logo2.png" alt="")
							.section5__main__stores__item 
								img(src="/assets/logos/logo3.png" alt="")
							.section5__main__stores__item.b 
								img(src="/assets/logos/logo4.png" alt="")
							.section5__main__stores__item 
								img(src="/assets/logos/logo5.png" alt="")

						.section5__main__social 
							hgroup 
								p  ¡Sé social, visítanos en nuestras redes!
							.section5__main__social__icons 
								a.section5__main__social__icon(href="https://www.instagram.com/zumacoldpressed/" target="_blank") 
									img(src="/assets/logos/instagram.png" alt="")
								a.section5__main__social__icon(href="https://www.facebook.com/ZUMAColdPressed/" target="_blank")
									img(src="/assets/logos/facebook.png" alt="")
								a.section5__main__social__icon(href="https://www.youtube.com/@zumacoldpressed4824/" target="_blank") 
									img(src="/assets/logos/youtube.png" alt="")
				footer.section6(data-section)
					.section6__main 
						p.section6__main__copy Zuma &copy;2024 Todos los derechos reservados
						p.section6__main__made Made with 


block javascript
	script(type="text/javascript" src="https://www.claro.com.pe/portal/pe/recursos_tema/genericos/lax.js") 
	script(type='text/javascript' src=path+"js/common.js")
