extends includes/master

block vars
	- var script = 1;
	- var css = 0;
	- var title = 'Landing Zuma';
	- var plugins = 0;

block content
	.page1
		.page1__main
			.portlet(data-portlet="zuma")


				section.section3(data-section)
					.section3__main 

				section.section4(data-section) 
					.section4__main 
						hgroup 
							h2 ¡ENCUÉNTRANOS EN TIENDAS Y SUPERMERCADOS!

				section.section5(data-section) 
					.section5__main 
						.section5__main__stores
							.section5__main__stores__item.c 
								img(src="/assets/logos/logo1.png" alt="")
							.section5__main__stores__item.c
								img(src="/assets/logos/logo2.png" alt="")
							.section5__main__stores__item 
								img(src="/assets/logos/logo3.png" alt="")
							.section5__main__stores__item.b 
								img(src="/assets/logos/logo4.png" alt="")
							.section5__main__stores__item 
								img(src="/assets/logos/logo5.png" alt="")

						.section5__main__social 
							hgroup 
								p  ¡Sé social, visítanos en nuestras redes!
							.section5__main__social__icons 
								a.section5__main__social__icon(href="https://www.instagram.com/zumacoldpressed/" target="_blank") 
									img(src="/assets/logos/instagram.png" alt="")
								a.section5__main__social__icon(href="https://www.facebook.com/ZUMAColdPressed/" target="_blank")
									img(src="/assets/logos/facebook.png" alt="")
								a.section5__main__social__icon(href="https://www.youtube.com/@zumacoldpressed4824/" target="_blank") 
									img(src="/assets/logos/youtube.png" alt="")
				footer.section6(data-section)
					.section6__main 
						p.section6__main__copy Zuma &copy;2024 Todos los derechos reservados
						p.section6__main__made Made with 



block plugins


block css

block javascript
	script(type='text/javascript' src=path+"js/common.js")
